
.home__main-content {
    display: flex;
}

.home__sidebar {
    background-color: $secondary;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
}

.home__sidebar-navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h3 {
        display: flex;
        align-items: center;
        font-weight: 400;
    }
}

.home__btn-logout {
    align-items: center;
    border-radius: 6px;
    border: none;
    display: flex;
    font-size: medium;
    justify-content: center;
    transition: 
    background-color .4s ease,
    color .4s ease;
    
    width: 120px;

    span {
        font-weight: 600;
    }
    
    &:hover {
        background-color: $secondary;
        color: $white;
    }

    @include generalButton($white, $secondary);
}

.home__add-new-entry {    
    align-self: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    transition: color .4s ease;
    width: 25%;

    &:hover {
        color: darken(white, 25%);
    }
}

.home__entries {
    overflow-y: auto;
}

.home__entry {
    background-color: white;
    border-radius: 6px;
    color: $dark-grey;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100px;
    overflow: hidden;
    width: auto;
}

.home__entry-picture {
    height: 100px;
    width: 150px;
}

.home__entry-body {
    display: flex;
    flex-direction: column;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.home__entry-title {
    font-weight: bold;
}

.home__entry-content {
    font-size: small;
}

.home__entry-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span{
        font-size: medium;
    }

    p {
        font-size: small;
    }
}
