
.nothing__main-content {    
    align-items: center;
    background-color: #e63946;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;    
    justify-content: center;    
    width: 100%; 

    p {
        font-size: xx-large;
        text-align: center;
    }

    hr {
        width: 50%;
        margin: 14px 0;
    }
}