
.nothing__main-content {    
    align-items: center;
    background-color: $primary;
    color: $secondary;
    display: flex;
    flex-direction: column;
    height: 100vh;    
    justify-content: center;    
    width: 100%; 

    p {
        font-size: 45px;
        font-weight: 600;
        text-align: center;
    }

    hr {
        width: 50%;
        margin: 14px 0;;
        border-color: $secondary;
    }
}